<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [9]:
'''
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())
''';

In [32]:
#file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [10]:
#await download(file_path, "m1_survey_data.csv")

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [2]:
import os
file_name="m1_survey_data.csv"
fpfn=os.path.join(os.getcwd(), file_name)
dfall = pd.read_csv(fpfn)
print(dfall.shape)
df = dfall.copy()  # in case the dataset is very large, don't want to re-read
print(df.shape)

(11552, 85)
(11552, 85)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [96]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
dups = df[df.duplicated() == True]
print(dups.shape)
print(dups['Respondent'])

(154, 85)
1168    2339
1169    2342
1170    2343
1171    2344
1172    2347
        ...
2297    4674
2298    4675
2299    4676
2300    4677
2301    4679
Name: Respondent, Length: 154, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df = df.drop_duplicates(keep='last')
df = df.reset_index(drop=True)

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
print(df.shape)
print(len(df[df.duplicated() == True]))

(11398, 85)
0

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
print(df.isnull())  # correctly printing False

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11393       False       False     False        False       False       False
11394       False       False     False        False       False       False
11395       False       False     False        False       False       False
11396       False       False     False        False       False       False
11397       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11393    False    False    False           False  ...          False
11394    False    False    False           False  ...          False
11395    False    False    False           False  ...          False
11396    False    False    False            True  ...          False
11397    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11393         False  False   False  False      False      False       False
11394         False  False   False  False      False      False       False
11395         False  False   False  False      False      False       False
11396          True  False   False  False      False      False       False
11397         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11393         False       False
11394         False       False
11395         False       False
11396         False       False
11397         False       False

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [19]:
# your code goes here
missr = df[df['WorkLoc'].isnull()]
print(len(missr))
missy = df[df['Respondent'].isnull()]
print(len(missy))
print(len(df[df['EdLevel'].isnull()] ))

0
0
112

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
print(df.value_counts('WorkLoc'))

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [60]:
#make a note of the majority value here, for future reference
#Ofc 6806, Hm 3589, other 971

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [9]:
# your code goes here
wlmaj = df.value_counts('WorkLoc').idxmax()
print(wlmaj)
df['WorkLoc'] = df['WorkLoc'].fillna(wlmaj)

Office

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [10]:
# your code goes here
print(df.value_counts('WorkLoc'))

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [11]:
# your code goes here
print(df['CompFreq'].unique())

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [13]:
# your code goes here
!python --version  # Python 3.12.6
print(pd.__version__)
# This error if try if df[df['CompFreq'] == 'Weekly']:  but did work ok on earlier Python3
# ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
# TypeError: 'in <string>' requires string as left operand, not Series
'''  ### THIS DOES NOT WORK ON THIS VERSION of Python and Pandas
if df[df['CompFreq'] == 'Weekly']:
    df['NormalizedAnnualCompensation'] = df[df['CompTotal']] * 52
''';
### So use iloc, but get numeric column numbers first
df1 = df.copy()
df1['CompFreq'] = df1['CompFreq'].fillna('Unknown')
print(df1.value_counts('CompFreq'))
df1['CompTotal'] = df1['CompTotal'].fillna(0)

df1['NormalizedAnnualCompensation'] = 0  # init the new row
NAC = df1.columns.get_loc('NormalizedAnnualCompensation')  # column number of it
CFreq = df1.columns.get_loc('CompFreq')  # column number of it
CTot = df1.columns.get_loc('CompTotal') # column number of it
for row in range(0, df1.shape[0]):
    if df1.iloc[row, CFreq] == 'Weekly':
        df1.iloc[row, NAC] = df1.iloc[row, CTot] * 52
    elif df1.iloc[row, CFreq] == 'Monthly':
        df1.iloc[row, NAC] = df1.iloc[row, CTot] * 12
    elif df1.iloc[row, CFreq] == 'Yearly':
        df1.iloc[row, NAC] = df1.iloc[row, CTot]
    # else leave it as zero
print(df1['Respondent'].shape)
print(df1[['Respondent','CompFreq','CompTotal','NormalizedAnnualCompensation']])  # if testing

Python 3.12.6
2.2.3
CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Unknown     206
Name: count, dtype: int64
(11398,)
       Respondent CompFreq  CompTotal  NormalizedAnnualCompensation
0               4   Yearly    61000.0                         61000
1               9   Yearly   138000.0                        138000
2              13   Yearly    90000.0                         90000
3              16  Monthly    29000.0                        348000
4              17   Yearly    90000.0                         90000
...           ...      ...        ...                           ...
11393       25136   Yearly   130000.0                        130000
11394       25137   Yearly    74400.0                         74400
11395       25138   Yearly   105000.0                        105000
11396       25141   Yearly    80000.0                         80000
11397       25142  Unknown        0.0                             0

[11398 rows x 4 columns]

In [24]:
# Find blank EdLevel
edlevnull = df1['EdLevel'].isnull()
#print('df1: ', df1.value_counts('EdLevel') )
print('edlevnull: ', pd.DataFrame(edlevnull).value_counts('EdLevel') )
print('Country: ', pd.DataFrame(df1['Country'].isnull()).value_counts('Country') )
myDEBUG = True
#!pip install -U varname
from varname import argname
df = pd.DataFrame()
def prdf(ldf):
    if myDEBUG == True:
        # says: type of ', argname('ldf'), ' is ', type(ldf))
        print(argname('ldf'), type(ldf))
        print(ldf.shape)
        print(ldf.columns)
        print(ldf.head(3))
        # print(ldf.index.name)  # may not have one
        print(ldf.describe)
        print(ldf.info)
#df2 = df1.truncate(after=20, axis=0)
#prdf(df1)

edlevnull:  EdLevel
False    11286
True       112
Name: count, dtype: int64
Country:  Country
False    11398
Name: count, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>